.about {
  padding: $section-pd 0;

  @media (min-width: $tablet) {
    padding: $section-pd-sm 0;
  }
  @media (min-width: $desktop) {
    padding: $section-pd-md 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: auto;

    @media (min-width: $tablet) {
      width: 50%;
    }
  }

  &__text {
    @media (min-width: $desktop) {
      padding: 44px 88px 0 0;
    }
  }
  &__title {
    margin-bottom: 40px;
  }
}
