.about {
  padding: $section-pd 0;

  @media (min-width: $tablet) {
    padding: $section-pd-sm 0;
  }
  @media (min-width: $desktop) {
    padding: 118px 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: auto;
    @media (min-width: 767px) {
      width: 50%;
    }

    & img {
      max-width: 100%;
      width: 100%;
      height: auto;
      object-fit: cover;
      box-sizing: border-box;

      @media (min-width: $tablet) {
        padding: 0 0 0 20px;
        width: 100%;
      }
    }
  }

  &__text {
    @media (min-width: 520px) {
      padding-right: 45px;
    }
    @media (min-width: $desktop) {
      padding: 64px 64px 0 0;
    }

    & h2 {
      margin-bottom: 35px;
    }

    & p {
      margin: 0;
      margin-bottom: 35px;
    }
    
  }
}
