.about {
  padding: 110px 0 117px;

  @media (max-width: $desktop) {
    padding: 90px 0 58px;
  }

  @media (max-width: $table) {
    padding: 57px 0 58px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__info {
    width: 50%;
    padding: 68px 40px 0 20px;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      width: 53%;
      padding: 0;
      padding-left: 18px;
      padding-top: 2px;
    }

    @media (max-width: $table) {
      width: 100%;
      padding-top: 0;
      padding-left: 5px;
    }
  }

  &__pic {
    box-sizing: border-box;
    width: 47%;

    @media (max-width: $table) {
      width: auto;
    }

    & img {
      padding-top: 12px;
      max-width: 100%;
      width: 100%;
      height: auto;
      object-fit: cover;
      box-sizing: border-box;

      @media (max-width: $table) {
        padding-top: 0;
      }
    }
  }

  &__text {
    & h2 {
      margin: 0;
      margin-bottom: 26px;
      font-family: $mainFontBold;
      font-size: 28px;
      line-height: 150%;
      font-weight: 600;
      letter-spacing: 0.05em;
      max-width: 100%;

      @media (max-width: $desktop) {
        margin-bottom: 15px;
        max-width: 205px;
        font-size: 26px;
        line-height: 146%;
      }

      @media (max-width: $table) {
        margin-bottom: 17px;
        max-width: 190px;
        font-size: 24px;
        line-height: 140%;
      }
    }

    & p {
      margin: 0;

      padding-right: 18px;
      margin-bottom: 35px;
      font-size: 16px;
      font-weight: normal;

      @media (max-width: $desktop) {
        padding-right: 25px;
        letter-spacing: 0.007em;
      }

      @media (max-width: $table) {
        margin-bottom: 32px;
        padding-right: 0;
        font-size: 15px;
        line-height: 160%;
        letter-spacing: 0.04em;
      }
    }
  }
}
