.advantage {
  padding: 107px 0 87px;
  background-image: url("../img/advantage/advantage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #dde9f5;

  @media (max-width: $desktop) {
    padding: 87px 0 65px;
    background-image: url("../img/advantage/advantage-tablet.jpg");
  }

  @media (max-width: $table) {
    padding: 55px 0 40px;
    background-image: url("../img/advantage/advantage-mob.jpg");
  }

  @media (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    background-image: url("../img/advantage/advantage-mob@2x.jpg");
  }

  @media (min-resolution: 124.8dpi), (min-resolution: 1.3dppx) {
    background-image: url("../img/advantage/advantage-tablet@2x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/advantage/advantage@2x.jpg");
  }

  &__container {
    & h2 {
      margin: 0 auto 48px;
      font-size: 28px;
      line-height: 150%;
      font-weight: 600;
      max-width: 100%;
      text-align: center;

      @media (max-width: $table) {
        margin: 0 auto 30px;
        max-width: 190px;
        font-size: 24px;
        line-height: 140%;
      }

      @media (max-width: $desktop) {
        margin-bottom: 50px;
        max-width: 205px;
        font-size: 26px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    flex-grow: 0;
    padding: 30px;
    margin-bottom: 30px;
    max-width: calc(33.33% - 27px);
    width: 100%;

    background-color: #f9fbfd;
    box-sizing: border-box;

    &:not(:nth-child(3n)) {
      margin-right: 40px;
    }

    @media (max-width: $desktop) {
      padding: 24px 13px 24px 20px;
      max-width: calc(33.33% - 17px);

      &:not(:nth-child(3n)) {
        margin-right: 25px;
      }
    }

    @media (max-width: $table) {
      margin: 0;
      margin-bottom: 30px;
      padding: 25px 18px;
    }

    @media (max-width: 650px) {
      max-width: 100%;

      &:not(:nth-child(3n)) {
        margin-right: 0;
      }
    }

    & h3 {
      max-width: 100%;
      margin: 0;
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;

      @media (max-width: $desktop) {
        max-width: 200px;
      }
    }

    & p {
      margin: 0;

      font-size: 14px;
      line-height: 140%;

      @media (max-width: $table) {
        font-size: 13px;
        line-height: 130%;
      }
    }
  }

  &__icon {
    height: 32px;

    @media (max-width: $desktop) {
      height: 27px;
    }

    @media (max-width: $table) {
      height: 22px;
      margin-bottom: 11px;
    }
  }
}
