.advantage {
  padding: 55px 0 40px;

  background-image: url("../img/advantage/advantage-mob.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #dde9f5;

  @media (min-width: $table) {
    padding: 87px 0 65px;
    background-image: url("../img/advantage/advantage-tablet.jpg");
  }

  @media (min-width: $desktop) {
    padding: 107px 0 87px;
    background-image: url("../img/advantage/advantage.jpg");
  }

  @media (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    background-image: url("../img/advantage/advantage-mob@2x.jpg");
  }

  @media (min-resolution: 124.8dpi), (min-resolution: 1.3dppx) {
    background-image: url("../img/advantage/advantage-tablet@2x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/advantage/advantage@2x.jpg");
  }

  &__container {
    & h2 {
      margin: 0 auto 30px;

      max-width: 190px;
      font-size: 24px;
      line-height: 140%;
      font-weight: 600;
      text-align: center;

      @media (min-width: $table) {
        margin-bottom: 50px;
        max-width: 205px;
        font-size: 26px;
      }

      @media (min-width: $desktop) {
        margin-bottom: 48px;
        font-size: 28px;
        line-height: 150%;
        max-width: 100%;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    flex-grow: 1;
    margin-bottom: 30px;
    padding: 25px 18px;
    background-color: #f9fbfd;
    width: auto;
    box-sizing: border-box;

    @media (min-width: $table) {
      width: calc(100% / 3 - 25px);
      padding: 24px 13px 24px 20px;

      &:not(:last-child) {
        margin-right: 25px;
      }
    }

    @media (min-width: $desktop) {
      width: calc(100% / 3 - 40px);
      padding: 30px;

      &:not(:last-child) {
        margin-right: 40px;
      }
    }

    & h3 {
      max-width: 200px;
      margin: 0;
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;

      @media (min-width: $desktop) {
        max-width: 100%;
      }
    }

    & p {
      margin: 0;
      font-size: 13px;
      line-height: 130%;

      @media (min-width: $table) {
        font-size: 14px;
        line-height: 140%;
      }
    }
  }

  &__icon {
    height: 22px;
    margin-bottom: 11px;

    @media (min-width: $table) {
      height: 27px;
    }

    @media (min-width: $desktop) {
      height: 32px;
    }
  }
}
