.advantage {
  padding: 60px 0;

  background-image: url("../img/advantage/advantage-mob.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #dde9f5;

  @media (min-width: $tablet) {
    padding: 90px 0 100px;
    background-image: url("../img/advantage/advantage-tablet.jpg");
  }
  @media (min-width: $desktop) {
    padding: 110px 0 135px;
    background-image: url("../img/advantage/advantage.jpg");
  }

  @media (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    background-image: url("../img/advantage/advantage-mob@2x.jpg");
  }

  @media (min-resolution: 124.8dpi), (min-resolution: 1.3dppx) {
    background-image: url("../img/advantage/advantage-tablet@2x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/advantage/advantage@2x.jpg");
  }

  &__container {
    @media (min-width: 600px) {
      padding: 0 45px;
    }
    @media (min-width: $desktop) {
      padding: 0 103px;
    }

    & h2 {
      margin: 0 auto 30px;

      max-width: 190px;
      font-size: 24px;
      line-height: 140%;
      font-weight: 600;
      text-align: center;

      @media (min-width: $tablet) {
        margin-bottom: 50px;
        max-width: 205px;
        font-size: 26px;
      }
      @media (min-width: $desktop) {
        font-size: 28px;
        line-height: 150%;
        max-width: 100%;
      }
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    flex-grow: 1;
    padding: 25px 18px;
    background-color: #f9fbfd;
    width: auto;
    box-sizing: border-box;

    &:not(:last-child) {
      margin-right: 25px;
    }

    @media (max-width: 754px) {
      &:not(:last-child) {
        margin-bottom: 27px;
        margin-right: 0;
      }
    }

    @media (min-width: 755px) {
      width: calc(100% / 3 - 25px);
    }
    @media (min-width: $tablet) {
      padding: 24px 18px;
    }
    @media (min-width: $desktop) {
      width: calc(100% / 3 - 40px);
      padding: 30px 25px;
      &:not(:last-child) {
        margin-right: 40px;
      }
    }

    & h3 {
      max-width: 200px;
      margin: 0;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      @media (min-width: $desktop) {
        max-width: 100%;
      }
    }

    & p {
      padding-right: 15px;
      margin: 0;
      font-size: 14px;
      line-height: 140%;
      @media (min-width: $tablet) {
        padding-right: 0;
      }
    }
  }
  &__icon {
    height: 27px;
    margin-bottom: 11px;

    @media (min-width: $tablet) {
    }
    @media (min-width: $desktop) {
      height: 32px;
    }
  }
}
