.advantage {
  padding: $section-pd 0;

  background-image: url("../img/advantage/advantage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #dde9f5;

  @media (min-width: 769px) {
    padding: $section-pd-sm 0;
  }
  @media (min-width: 1023px) {
    padding: $section-pd-md 0;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    margin-bottom: 30px;
    padding: 25px 20px;
    background-color: #f9fbfd;
    width: auto;
    box-sizing: border-box;
    @media (min-width: 767px) {
      width: calc(100% / 3 - 25px);
    }
  }
  &__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
  }
  &__text {
    font-size: 14px;
    line-height: 140%;
  }
}
