.booking {
  padding: 50px 0;
  background-image: url("../img/booking/booking.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #daf2fe;

  @media (max-width: $desktop) {
    padding: 88px 0 100px;
    background-image: url("../img/booking/booking-tablet.jpg");
  }

  @media (max-width: $table) {
    padding: 58px 0 65px;

    background-image: url("../img/booking/booking-mob.jpg");
  }

  @media (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    background-image: url("../img/booking/booking-mob@2x.jpg");
  }

  @media (min-resolution: 124.8dpi), (min-resolution: 1.3dppx) {
    background-image: url("../img/booking/booking-tablet@2x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/booking/booking@2x.jpg");
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $desktop) {
      padding-left: 44px;
    }

    @media (max-width: $table) {
      padding-left: 15px;
    }
  }

  & h2 {
    margin: 0;
    margin-bottom: 10px;
    font-family: $mainFontBold;
    font-size: 40px;
    line-height: 150%;
    font-weight: bold;
    letter-spacing: 0.07em;
    text-align: left;

    @media (max-width: $desktop) {
      margin: 0;
      margin-bottom: 5px;
      max-width: 100%;
      font-size: 34px;
      line-height: 150%;
      text-align: center;
    }

    @media (max-width: $table) {
      max-width: 200px;
      margin: 0 auto 14px;

      font-size: 24px;
      line-height: 130%;
      text-align: center;
    }
  }

  & p {
    max-width: 343px;
    margin: 0 auto 0 0;
    text-align: left;

    @media (max-width: $desktop) {
      max-width: 340px;
      margin: 0 auto;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
    }

    @media (max-width: $table) {
      margin: 0 auto;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
    }

    & span {
      @media (max-width: $table) {
        display: block;
      }
    }
  }

  &__info {
    width: 50%;
    padding-left: 81px;
    margin-top: -7px;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      margin: 0 auto 50px;
      padding: 0;
      width: 100%;
      text-align: center;
    }

    @media (max-width: $table) {
      margin: 0 auto 35px;
    }
  }

  &__wrapper {
    max-width: 305px;
  }

  &__form {
    margin: 0 auto;

    width: 50%;
    padding-left: 55px;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      width: 100%;
      padding-left: 0;
    }

    @media (max-width: $table) {
      padding: 0 10px;
    }
  }
}
