.booking {
  padding: 54px 0 58px;

  background-image: url("../img/booking/booking-mob.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #daf2fe;

  @media (min-width: $table) {
    padding: 88px 0 97px;
    background-image: url("../img/booking/booking-tablet.jpg");
  }
  @media (min-width: $desktop) {
    padding: 48px 0 48px;
    background-image: url("../img/booking/booking.jpg");
  }

  @media (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    background-image: url("../img/booking/booking-mob@2x.jpg");
  }

  @media (min-resolution: 124.8dpi), (min-resolution: 1.3dppx) {
    background-image: url("../img/booking/booking-tablet@2x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/booking/booking@2x.jpg");
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  & h2 {
    max-width: 200px;
    margin: 0 auto 14px;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-align: center;

    @media (min-width: $table) {
      margin-bottom: 5px;
      max-width: 100%;
      font-size: 34px;
      line-height: 150%;
    }
    @media (min-width: $desktop) {
      margin-bottom: 10px;
      font-size: 40px;
      line-height: 150%;
      text-align: left;
    }
  }
  & p {
    margin: 0 auto;
    max-width: 257px;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    @media (min-width: 767px) {
      max-width: 352px;
    }
    @media (min-width: $table) {
      font-size: 18px;
      line-height: 150%;
    }
    @media (min-width: $desktop) {
      margin-right: auto;
      margin-left: 0;
      text-align: left;
    }
  }
  &__info {
    width: 100%;
    margin: 0 auto 27px;
    box-sizing: border-box;

    @media (min-width: $table) {
      margin-bottom: 48px;
    }
    @media (min-width: $desktop) {
      width: 50%;
      padding-left: 60px;
      padding-top: 45px;
    }
  }

  &__wrapper {
    max-width: 305px;
  }

  &__form {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    @media (min-width: $table) {
    }
    @media (min-width: $desktop) {
      width: 50%;
      padding-left: 55px;
    }
  }
}
