.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding: 0 45px;
  }
  @media (min-width: $desktop) {
    padding: 0 50px;
  }
  @media (min-width: 1200px) {
    padding: 0 103px;
  }
}
