.contacts {
  padding: $section-pd 0;

  @media (min-width: $tablet) {
    padding: $section-pd-sm 0;
  }
  @media (min-width: $desktop) {
    padding: $section-pd-md 0;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__map {
    order: 1;
    width: 100%;

    @media (min-width: $tablet) {
      order: 0;
      width: 50%;
    }

    & img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__info {
    width: 100%;

    box-sizing: border-box;

    @media (min-width: $tablet) {
      width: 50%;
      padding-left: 80px;
    }
  }
  &__text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 33px;
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__link {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    color: $primary-color;
    text-decoration: none;
    box-sizing: border-box;

    & span {
      width: 90%;
      box-sizing: border-box;
    }
  }
  &__icon {
    margin-right: 15px;
  }
}
