.contacts {
  padding: $section-pd-md 0 110px;

  @media (max-width: $desktop) {
    padding: $section-pd-sm 0 91px;
  }

  @media (max-width: $table) {
    padding: 37px 0 57px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__map {
    width: 48%;
    overflow: hidden;

    @media (max-width: $desktop) {
      order: 0;
      width: 48%;
    }

    @media (max-width: $table) {
      order: 1;
      width: 100%;
      height: 100%;
    }

    & img {
      max-width: 100%;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__info {
    width: 43%;
    padding-top: 17px;
    box-sizing: border-box;

    @media (max-width: $desktop) {
      width: 48%;
      padding-top: 13px;
    }

    @media (max-width: $table) {
      padding-top: 21px;
      width: 100%;
    }
  }

  & p {
    margin: 0 0 29px 0;
    font-family: $mainFont-2;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;

    @media (max-width: $table) {
      margin-bottom: 28px;
      padding-right: 2px;
      letter-spacing: 0.001em;
    }
  }

  &__link {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 150%;
    color: $primary-color;
    text-decoration: none;
    box-sizing: border-box;

    &:focus,
    &:hover {
      opacity: 0.5;
    }

    @media (max-width: $desktop) {
      line-height: 130%;
    }

    @media (max-width: $table) {
      margin-bottom: 20px;
      line-height: 150%;
    }
  }

  &__text {
    width: 90%;
    box-sizing: border-box;

    & span {
      @media (max-width: $table) {
        display: block;
      }
    }
  }

  &__icon {
    margin-right: 9px;
  }
}
