.contacts {
  padding: 60px 0 50px;

  @media (min-width: $tablet) {
    padding: $section-pd-sm 0 75px;
  }
  @media (min-width: $desktop) {
    padding: $section-pd-md 0 107px;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__map {
    order: 1;
    width: 100%;

    @media (min-width: $tablet) {
      order: 0;
      width: 50%;
    }

    & img {
      max-width: 100%;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__info {
    width: 100%;

    box-sizing: border-box;

    @media (min-width: $tablet) {
      width: 50%;
      padding-left: 13px;
      padding-top: 10px;
    }
    @media (min-width: $desktop) {
      padding-left: 82px;
      padding-top: 25px;
    }
  }
  & p {
    margin: 0 0 29px 0;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
  }
  &__list {
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 18px;
    }

    @media (min-width: $desktop) {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }
  &__link {
    display: flex;
    align-items: flex-start;

    font-size: 16px;
    line-height: 150%;
    color: $primary-color;
    text-decoration: none;
    box-sizing: border-box;

    &:focus,
    &:hover {
      opacity: 0.5;
    }

    & span {
      width: 90%;
      box-sizing: border-box;
    }
  }
  &__icon {
    margin-right: 9px;
  }
}
