.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 0 75px;
  box-sizing: border-box;

  @media (max-width: $desktop) {
    padding: 0 35px;
  }

  @media (max-width: $table) {
    padding: 0 8px;
  }
}
