.cruise {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;

  min-height: 385px;

  box-sizing: border-box;

  &:hover {
    & .cruise__info {
      display: block;
    }
    & .cruise__inner {
      position: absolute;
      top: 0;
      margin-top: 0;
      height: 100%;
      color: $default-color;
      background-color: $primary-color;
    }
  }

  &__pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__info {
    display: none;
    position: relative;

    padding: 0 30px;
  }
  &__inner {
    position: absolute;
    top: 80%;
    left: 0;
    margin-top: auto;
  }
  &__title {
    padding: 0 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $default-color;
  }

  &__link {
    display: block;

    padding: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    border: none;
    border-radius: 0;
    color: $primary-color;
    background-color: $default-color;
    text-decoration: none;
  }
  &__item {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 140%;
  }
  &__item-title {
    margin-bottom: 10px;
    font-weight: 500;
  }
}
