.cruise {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 385px;

  box-sizing: border-box;

  &:focus,
  &:hover {
    & .cruise__info {
      display: flex;
      flex-direction: column;
      height: 100%;
      opacity: 1;
      padding: 0 25px;
      transition: opacity 1s;

      @media (max-width: $desktop) {
        padding: 0 28px 0 38px;
      }

      @media (max-width: $table) {
        padding: 0 25px;
      }
    }

    & .cruise__inner {
      position: absolute;
      top: 0;
      left: 0;
      justify-content: flex-start;
      margin-top: 0;
      width: 100%;
      height: 100%;
      color: $default-color;
      background-color: $primary-color;
      box-sizing: border-box;

      & h3 {
        padding: 29px 27px 15px 27px;

        @media (max-width: $desktop) {
          padding: 27px 35px 15px;
        }

        @media (max-width: $table) {
          padding: 30px 26px 12px;
        }
      }
    }
  }

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    position: relative;
    height: 0;
    opacity: 0;
    padding: 0 30px;
  }

  &__inner {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-height: 100%;
    height: 385px;

    & h3 {
      margin: 0;

      padding: 21px 30px;
      font-family: $mainFontMedium;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      color: $default-color;
      box-sizing: border-box;

      @media (max-width: $desktop) {
        padding: 25px 35px;
      }

      @media (max-width: $table) {
        padding: 16px 26px;
      }
    }
  }

  &__link {
    display: block;

    margin-top: auto;
    margin-bottom: 33px;
    padding: 10px;
    font-family: $mainFontBold;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    border: none;
    border-radius: 0;
    color: $primary-color;
    background-color: $default-color;
    text-decoration: none;
    box-sizing: border-box;

    &:focus,
    &:hover {
      opacity: 0.5;
    }


    @media (max-width: $table) {
      margin-bottom: 35px;
    }
  }

  &__item {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 140%;

    @media (max-width: $table) {
      margin-bottom: 11px;
    }
  }

  &__item-title {
    margin-bottom: 3px;
    font-family: $mainFontMedium;
    font-weight: 500;
  }

  &__item-val {
    overflow: hidden;
    max-height: 40px;
  }
}
