.form {
  margin: 0 auto;

  padding: 45px 48px 50px;
  background-color: $primary-color;

  display: flex;
  flex-direction: column;

  @media (max-width: $table) {
    padding: 35px 30px 40px;
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #f9fbfd;
    text-align: center;

    @media (max-width: $desktop) {
      margin-bottom: 26px;
    }

    @media (max-width: $table) {
      margin-bottom: 19px;
    }
  }

  & label {
    margin-bottom: 20px;
    color: $default-color;
    box-sizing: border-box;

    @media (max-width: $table) {
      margin-bottom: 16px;
    }
  }

  & label[for="check"] {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: 130%;
  }

  & input[type="text"],
  & input[type="email"] {
    padding: 11px 20px;
    width: 100%;
    font-size: 14px;
    line-height: 150%;
    border: 2px solid transparent;
    border-radius: 0;
    background-color: #f9fbfd;
    box-sizing: border-box;

    &:focus,
    &:hover {
      border: 2px solid #bce0fa;
    }
  }

  & input[type="checkbox"]:not(:checked),
  & input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }

  & input[type="checkbox"]:not(:checked) + span,
  & input[type="checkbox"]:checked + span {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
  }

  & input[type="checkbox"]:not(:checked) + span::before,
  & input[type="checkbox"]:checked + span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #101a56;
    background: $default-color;
    border-radius: 0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  & input[type="checkbox"]:focus + span::before,
  & input[type="checkbox"]:hover + span::before {
    border: 2px solid #bce0fa;
  }

  & input[type="checkbox"]:not(:checked) + span::after,
  & input[type="checkbox"]:checked + span::after {
    content: " ";
    position: absolute;
    top: 0.2em;
    left: 0.2em;

    width: 10px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/icons/icon-check.svg");
    color: $primary-color;
    transition: all 0.2s;
  }

  & input[type="checkbox"]:not(:checked) + span::after {
    opacity: 0;
    transform: scale(0);
  }

  & input[type="checkbox"]:checked + span::after {
    opacity: 1;
    transform: scale(1);
  }

  & button[type="submit"] {
    display: inline-block;
    vertical-align: middle;
    padding: 11px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    border: none;
    border-radius: 0;
    color: $primary-color;
    background-color: $default-color;
    cursor: pointer;

    &:focus,
    &:hover {
      opacity: 0.5;
    }
  }
}
