.form {
  max-width: 403px;
  margin: 0 auto;
  padding: 40px 30px;
  background-color: $primary-color;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    padding: 50px;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #f9fbfd;
  }

  &__val {
    margin-bottom: 20px;
    padding: 16px;
    font-size: 14px;
    line-height: 150%;
    border: none;
    border-radius: 0;
    background-color: #f9fbfd;
  }
  &__button {
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    border: none;
    border-radius: 0;
    color: $primary-color;
    cursor: pointer;
  }

  &__label {
    margin-bottom: 20px;
    color: $default-color;
    font-size: 10px;
    line-height: 130%;
  }
}
