.header-and-promo {
  background-image: url("../img/promo/promo-mob.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #00437c;

  @media (min-width: $table) {
    background-image: url("../img/promo/promo-tablet.jpg");
  }

  @media (min-width: $desktop) {
    background-image: url("../img/promo/promo.jpg");
  }

  @media (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    background-image: url("../img/promo/promo-mob@2x.jpg");
  }

  @media (min-resolution: 124.8dpi), (min-resolution: 1.3dppx) {
    background-image: url("../img/promo/promo-tablet@2x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/promo/promo@2x.jpg");
  }
}
