.navigation {
  &__toggle {
    display: block;
    border: none;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;

    @media (min-width: 769px) {
      display: none;
    }
  }
  &__inner {
    display: none;
    @media (min-width: 769px) {
      display: flex;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $default-color;
    text-decoration: none;
  }
}


