.nearest-cruises {
  padding: $section-pd 0 45px;

  @media (min-width: $tablet) {
    padding: $section-pd-sm 0 80px;
  }
  @media (min-width: $desktop) {
    padding: $section-pd-md 0 90px;
  }

  &__items {
    padding: 0 10px;
    column-count: 1;
    column-gap: 30px;
    width: 100%;
    box-sizing: border-box;

    @media (min-width: 500px) {
      column-count: 2;
    }

    @media (min-width: 767px) {
      column-gap: 30px;
      padding: 0 60px;
    }
    @media (min-width: $desktop) {
      column-count: 4;
      column-gap: 30px;
      padding: 0 10px;
    }
  }

  &__item {
    flex-grow: 1;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
  }
}
