.page-header {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 35px 0;
  background-color: transparent;

  @media (max-width: $desktop) {
    padding: 29px 0;
  }

  @media (max-width: $table) {
    padding: 20px 0;
  }

  &--mob {
    background-color: $default-color;

    & .page-header__logo {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $desktop) {
      align-items: flex-start;
    }

    @media (max-width: $table) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__logo {
    padding-left: 20px;

    @media (max-width: $desktop) {
      padding-left: 15px;
    }

    @media (max-width: $table) {
      padding-left: 10px;
    }
  }
}
