.page-footer {
  padding: 50px 0;
  background-color: $primary-color;

  @media (max-width: $desktop) {
    padding: 46px 0;
  }

  @media (max-width: $table) {
    padding: 40px 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: $table) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__logo {
    margin-right: 40px;

    @media (max-width: 1200px) {
      margin-right: 25px;
    }

    @media (max-width: $desktop) {
      margin-right: 15px;
    }
  }

  &__nav {
    margin: 0;

    @media (max-width: $table) {
      margin-top: 11px;
      margin-bottom: 8px;
    }
  }

  &__social {
    margin-left: auto;

    @media (max-width: $table) {
      margin-left: 0;
    }
  }
}
