.page-footer {
  padding: 53px 0;
  background-color: $primary-color;

  @media (max-width: $desktop) {
    padding: 42px 0;
  }

  @media (max-width: $table) {
    padding: 40px 0 33px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: $table) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__logo {
    margin-right: 40px;
    padding-left: 20px;

    @media (max-width: 1200px) {
      margin-right: 25px;
    }

    @media (max-width: $desktop) {
      margin-right: 21px;
    }

    @media (max-width: $table) {
      margin-right: 0;
    }

    & img {
      @media (max-width: $desktop) {
        height: 22px;
        padding-top: 8px;
      }

      @media (max-width: $table) {
        padding-top: 0;
      }
    }
  }

  &__nav {
    margin: 0;

    @media (max-width: $desktop) {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    @media (max-width: $table) {
      margin-top: 10px;
      margin-bottom: 8px;
      padding-left: 10px;
    }
  }

  &__social {
    margin-left: auto;

    @media (max-width: $table) {
      margin-left: 0;
      padding-left: 10px;
    }
  }
}
