.page-footer {
  padding: 50px 0;
  background-color: $primary-color;
  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;

    @media (min-width: $tablet) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__logo {
    margin-right: 25px;

    @media (min-width: $desktop) {
      margin-right: 40px;
    }
  }
  &__nav {
    margin-bottom: 20px;
    @media (min-width: $tablet) {
      margin-bottom: 0;
    }
  }
  &__social {
    @media (min-width: $tablet) {
      margin-left: auto;
    }
  }
}
