.page-header {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 20px 0;
  background-color: transparent;

  @media (min-width: $table) {
    padding: 27px 0;
  }

  @media (min-width: $desktop) {
    padding: 33px 0;
  }

  &--mob {
    background-color: $default-color;

    & .page-header__logo {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: $table) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
