.promo {
  position: relative;
  display: table;
  width: 100%;

  min-height: 650px;

  background-image: url("../img/promo/promo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #00437c;

  color: $default-color;

  &__container {
    display: table-cell;
    vertical-align: middle;

    @media (min-width: $tablet) {
    }
    @media (min-width: $desktop) {
      padding-left: 200px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 125%;

    @media (min-width: $tablet) {
      font-size: 50px;
      line-height: 61px;
    }
    @media (min-width: $desktop) {
      font-size: 54px;
      line-height: 66px;
    }
  }
}
