.promo {
  position: relative;

  width: 100%;
  min-height: 540px;
  color: $default-color;
  box-sizing: border-box;

  @media (max-width: $desktop) {
    min-height: 546px;
  }

  @media (max-width: $table) {
    min-height: 423px;
  }

  &__container {
    padding-top: 162px;
    max-width: 1125px;

    @media (max-width: $desktop) {
      padding-top: 178px;
    }

    @media (max-width: $table) {
      padding-top: 100px;
    }
  }

  & h1 {
    margin: 0 0 12px 0;

    margin-bottom: 12px;
    font-size: 54px;
    line-height: 66px;
    font-weight: bold;

    @media (max-width: $desktop) {
      margin-bottom: 11px;
      font-size: 50px;
      line-height: 61px;
    }

    @media (max-width: $table) {
      margin-bottom: 10px;
      font-size: 36px;
      line-height: 125%;
    }

    & span {
      @media (max-width: $table) {
        display: block;
      }
    }
  }

  & p {
    margin: 0;

    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;

    @media (max-width: $desktop) {
      font-size: 18px;
      line-height: 22px;
    }

    @media (max-width: $table) {
      padding-right: 60px;
      font-size: 16px;
      line-height: 140%;
    }
  }
}
