.promo {
  position: relative;

  width: 100%;
  min-height: 405px;
  color: $default-color;
  box-sizing: border-box;

  @media (min-width: $table) {
    min-height: 540px;
  }

  @media (min-width: $desktop) {
    min-height: 540px;
  }

  &__container {
    padding-top: 96px;

    @media (min-width: $table) {
      padding-top: 178px;
    }

    @media (min-width: $desktop) {
      padding-top: 164px;
      max-width: 1163px;
    }
  }

  & h1 {
    margin: 0 0 5px 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 125%;

    @media (min-width: $table) {
      margin-bottom: 11px;
      font-size: 50px;
      line-height: 61px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 12px;
      font-size: 54px;
      line-height: 66px;
    }
  }

  & p {
    margin: 0;
    font-size: 16px;
    line-height: 140%;

    @media (min-width: $table) {
      font-size: 18px;
      line-height: 22px;
    }

    @media (min-width: $desktop) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
