.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 650px;

  background-image: url("../img/promo/promo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #00437c;

  color: $default-color;

  &__container {
    width: 100%;
    height: 100%;

    @media (min-width: 769px) {
    }
    @media (min-width: 1200px) {
      padding-left: 200px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 125%;

    @media (min-width: 769px) {
      font-size: 50px;
      line-height: 61px;
    }
    @media (min-width: 1200px) {
      font-size: 54px;
      line-height: 66px;
    }
  }
}
