.promo {
  position: relative;
  display: table;
  width: 100%;
  padding-bottom: 80px;
  min-height: 405px;
  color: $default-color;
  box-sizing: border-box;

  @media (min-width: $table) {
    min-height: 540px;
    padding-bottom: 95px;
  }
  @media (min-width: $desktop) {
    min-height: 540px;
    padding-bottom: 125px;
  }

  &__container {
    max-width: 1366px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;

    @media (min-width: $table) {
    }
    @media (min-width: $desktop) {
      padding-left: 95px;
    }
  }
  & h1 {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 125%;

    @media (min-width: $table) {
      font-size: 50px;
      line-height: 61px;
    }
    @media (min-width: $desktop) {
      font-size: 54px;
      line-height: 66px;
    }
  }
  & p {
    margin: 0;
    font-size: 16px;
    line-height: 140%;
    transform: translateY(10px);

    @media (min-width: $table) {
      font-size: 18px;
      line-height: 22px;
    }
    @media (min-width: $desktop) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

@supports (display: flex) {
  .promo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__container {
      margin: 0 auto;
    }
  }
}
