.social {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    &:not(:last-child) {
      margin-right: 18px;
      @media (min-width: $tablet) {
        margin-right: 23px;
      }
      @media (min-width: $desktop) {
        margin-right: 25px;
      }
    }

    & svg {
      height: 16px;
      @media (min-width: $desktop) {
        height: 20px;
      }
    }
  }
}
