.social {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    @media (max-width: $desktop) {
      margin-top: 3px;
    }

    @media (max-width: $table) {
      margin-top: 0;
    }

    &:not(:last-child) {
      margin-right: 33px;

      @media (max-width: $desktop) {
        margin-right: 20px;
      }

      @media (max-width: $table) {
        margin-right: 18px;
      }
    }

    & svg {
      height: 20px;

      @media (max-width: $desktop) {
        height: 16px;
      }
    }
  }

  &__link {
    &:focus,
    &:hover {
      opacity: 0.5;
    }
  }
}
