@font-face {
  font-family: $mainFont;
  font-display: auto;
  src: url("../fonts/montserrat.woff2") format("woff2"),
    url("../fonts/montserrat.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: $mainFontMedium;
  font-display: auto;
  src: url("../fonts/montserrat-medium.woff2") format("woff2"),
    url("../fonts/montserrat-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: $mainFontBold;
  font-display: auto;
  src: url("../fonts/montserratbold.woff2") format("woff2"),
    url("../fonts/montserratbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
