// Глобальные переменные
// Font
$mainFont: "Montserrat", "Arial", sans-serif;
$mainFontBold: "Montserrat Bold", "Arial", sans-serif;
// Size
$mainFontSize: 16px;
$mainLineHeight: 24px;
$mainFontWeight: 300;
$mainFontWeightBold: 600;
// Main color
$default-color: #f9fbfd;
$primary-color: #011c40;

$section-pd: 65px;
$section-pd-sm: 100px;
$section-pd-md: 120px;

$tablet: 768px;
$desktop: 1024px;
